.App {
  text-align: center;
  height: 100vh;
  padding: 50px;
  background-color: teal;
  color: white;
}

.App-intro {
  font-size: large;
}

.appContainer {
  margin: auto;
}

h1.title {
  font-size: 4em;
}

.loader {
    margin: 100px auto;
    border: 12px solid white; /* Light grey */
    border-top: 12px solid lightpink; /* Pink */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
