.App {
  text-align: center;
  height: 100vh;
  padding: 50px;
  background-color: teal;
  color: white;
}

/* .App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.appContainer {
  margin: auto;
  /* border: 1px solid blue; */
}
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
